[submodule "vim-sandwich"]
	path = neovim/.config/nvim/pack/bundle/opt/vim-sandwich
	url = https://github.com/machakann/vim-sandwich
[submodule "vim-lion"]
	path = neovim/.config/nvim/pack/bundle/start/vim-lion
	url = https://github.com/tommcdo/vim-lion
[submodule "tcomment_vim"]
	path = neovim/.config/nvim/pack/bundle/start/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim
[submodule "vim-repeat"]
	path = neovim/.config/nvim/pack/bundle/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "vim-unimpaired"]
	path = neovim/.config/nvim/pack/bundle/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "targets.vim"]
	path = neovim/.config/nvim/pack/bundle/start/targets.vim
	url = https://github.com/wellle/targets.vim
[submodule "vim-dirvish"]
	path = neovim/.config/nvim/pack/bundle/start/vim-dirvish
	url = https://github.com/justinmk/vim-dirvish
[submodule "undotree"]
	path = neovim/.config/nvim/pack/bundle/start/undotree
	url = https://github.com/mbbill/undotree
[submodule "vim-signify"]
	path = neovim/.config/nvim/pack/bundle/start/vim-signify
	url = https://github.com/mhinz/vim-signify
[submodule "vim-mkdir"]
	path = neovim/.config/nvim/pack/bundle/start/vim-mkdir
	url = https://github.com/pbrisbin/vim-mkdir
[submodule "vim-dispatch"]
	path = neovim/.config/nvim/pack/bundle/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "vim-eunuch"]
	path = neovim/.config/nvim/pack/bundle/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "vim-fugitive"]
	path = neovim/.config/nvim/pack/bundle/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vimwiki"]
	path = neovim/.config/nvim/pack/bundle/start/vimwiki
	url = https://github.com/vimwiki/vimwiki
[submodule "vim-cpp-modern"]
	path = neovim/.config/nvim/pack/bundle/start/vim-cpp-modern
	url = https://github.com/bfrg/vim-cpp-modern
[submodule "rust.vim"]
	path = neovim/.config/nvim/pack/bundle/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "zig.vim"]
	path = neovim/.config/nvim/pack/bundle/start/zig.vim
	url = https://github.com/ziglang/zig.vim
[submodule "lightline.vim"]
	path = neovim/.config/nvim/pack/bundle/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "vim-highlightedyank"]
	path = neovim/.config/nvim/pack/bundle/opt/vim-highlightedyank
	url = https://github.com/machakann/vim-highlightedyank
[submodule "fzf.vim"]
	path = neovim/.config/nvim/pack/bundle/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "gruvbox"]
	path = neovim/.config/nvim/pack/bundle/start/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "onehalf"]
	path = neovim/.config/nvim/pack/bundle/manual/onehalf
	url = https://github.com/sonph/onehalf
[submodule "syntastic"]
	path = neovim/.config/nvim/pack/bundle/opt/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule "nvim-lsp"]
	path = neovim/.config/nvim/pack/bundle/opt/nvim-lsp
	url = https://github.com/neovim/nvim-lsp
