[submodule "matchit"]
	path = neovim/.config/nvim/pack/core/start/matchit
	url = https://github.com/chrisbra/matchit
[submodule "gruvbox"]
	path = neovim/.config/nvim/pack/theme/start/gruvbox
	url = https://github.com/gruvbox-community/gruvbox
[submodule "vim-dirvish"]
	path = neovim/.config/nvim/pack/filesystem/start/vim-dirvish
	url = https://github.com/justinmk/vim-dirvish
[submodule "vim-sandwich"]
	path = neovim/.config/nvim/pack/core/start/vim-sandwich
	url = https://github.com/machakann/vim-sandwich
[submodule "undotree"]
	path = neovim/.config/nvim/pack/vcs/start/undotree
	url = https://github.com/mbbill/undotree
[submodule "vim-mkdir"]
	path = neovim/.config/nvim/pack/filesystem/start/vim-mkdir
	url = https://github.com/pbrisbin/vim-mkdir
[submodule "vim-lion"]
	path = neovim/.config/nvim/pack/core/start/vim-lion
	url = https://github.com/tommcdo/vim-lion
[submodule "tcomment_vim"]
	path = neovim/.config/nvim/pack/core/start/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim
[submodule "vim-eunuch"]
	path = neovim/.config/nvim/pack/filesystem/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "vim-fugitive"]
	path = neovim/.config/nvim/pack/vcs/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim-repeat"]
	path = neovim/.config/nvim/pack/core/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "vim-unimpaired"]
	path = neovim/.config/nvim/pack/core/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "targets.vim"]
	path = neovim/.config/nvim/pack/core/start/targets.vim
	url = https://github.com/wellle/targets.vim
[submodule "zsh-system-clipboard"]
	path = zsh/.config/zsh/plugins/zsh-system-clipboard
	url = https://github.com/kutsan/zsh-system-clipboard
[submodule "git-prompt.zsh"]
	path = zsh/.config/zsh/plugins/git-prompt.zsh
	url = https://github.com/woefe/git-prompt.zsh
[submodule "zsh-autosuggestions"]
	path = zsh/.config/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh-history-substring-search"]
	path = zsh/.config/zsh/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "zsh-syntax-highlighting"]
	path = zsh/.config/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "tmux-copycat"]
	path = tmux/.config/tmux/plugins/tmux-copycat
	url = https://github.com/tmux-plugins/tmux-copycat
[submodule "tmux-open"]
	path = tmux/.config/tmux/plugins/tmux-open
	url = https://github.com/tmux-plugins/tmux-open
[submodule "tmux-pain-control"]
	path = tmux/.config/tmux/plugins/tmux-pain-control
	url = https://github.com/tmux-plugins/tmux-pain-control
[submodule "tmux-sensible"]
	path = tmux/.config/tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "tmux-sessionist"]
	path = tmux/.config/tmux/plugins/tmux-sessionist
	url = https://github.com/tmux-plugins/tmux-sessionist
[submodule "tmux-yank"]
	path = tmux/.config/tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
[submodule "zig.vim"]
	path = neovim/.config/nvim/pack/lang/start/zig.vim
	url = https://github.com/ziglang/zig.vim
[submodule "fzf"]
	path = fzf/.local/lib/fzf
	url = https://github.com/junegunn/fzf
[submodule "fzf.vim"]
	path = neovim/.config/nvim/pack/fzf/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "vim-sensible"]
	path = neovim/.config/nvim/pack/core/start/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "vim-wordmotion"]
	path = neovim/.config/nvim/pack/core/start/vim-wordmotion
	url = https://github.com/chaoren/vim-wordmotion
[submodule "neovim/.config/nvim/pack/core/start/vim-sleuth"]
	path = neovim/.config/nvim/pack/core/start/vim-sleuth
	url = https://github.com/tpope/vim-sleuth
