* {
    background-color: transparent;
    font-family: monospace;
    font-size: 18px;
    min-height: 0;
    padding: 0 4px;
}

#workspaces button {
    color: #808080;
}

#workspaces button.focused {
    color: #ffffff;
}
