.emacs.d/auto-save-list/
.emacs.d/elpa/
.emacs.d/eshell/
.emacs.d/games/
.emacs.d/transient/
.emacs.d/undo-tree/

.emacs.d/custom.el
.emacs.d/init.elc
.emacs.d/personal.el
.emacs.d/personal.elc
.emacs.d/recentf
